* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 1.5em auto;
	width: 90%;
	max-width: 54em;
	font: normal normal 105%/1 'HKGroteskRegular', sans-serif;
	background: #eff9f1;
	color: #333;
}

/* Nicer link underlines */
a:link, a:visited {
	border-bottom: 1px solid;
	border-bottom-color: rgba(92,87,71,0.5);
	text-decoration: none;
	color: #5c5747;
	transition: background 200ms ease-in-out, color 300ms ease-in-out;
}

a:hover {
	background: #5c5747;
	color: #f4f4f1;
}

a:active {
	background: #000;
	color: #fff;
}

/* Headings selected as direct descendents so that headings in tests are not targeted */

body > h1 {
	margin: 1em 0 0;
	padding: 0.5em;
	background: #000;
	color: #eff9f1;
	font-weight: 400;
	font-family: 'HKGroteskLight', sans-serif;
}

body > h2, body > div > h2,
body > div > h3,
.reference {
	font-weight: 700;
	font-family: 'HKGroteskBold', sans-serif;
	color: #000;
}

body > div:not(.criteria):not(.reference) > h2 {
	margin: 2em 0 0;
	padding-top: .5em;
	border-top: 6px solid;
}

body > div > h3,
.criteria h2,
.reference h2,
.reference li {
	font-size: .8125em; /* 13px */
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

body > div > h3 {
	margin: 1.5em 0 1em;
	padding-top: .5em;
	border-top: 2px solid hsla(0, 0%, 0%, .2);
}

p, ul, ol {
	line-height: 1.4;
}

ul, ol {
	margin-left: 1em;
	padding: 0;
}

li + li {
	margin-top: .5em;
}

code {
	font-weight: 400;
}

.criteria,
.reference {
	margin-top: 2em;
}

.criteria h2,
.reference h2 {
	margin-top: 0;
}

/* Scope this here so that tests don't get targeted */
.criteria ul,
.reference ul {
	margin-bottom: 0;
}

/* Need extra space for long links */
.reference ul {
	line-height: 1.7;
}

/* Unset the styles on text next to links in references.
   Doing it this way to reduce excess markup. */
.reference a {
	font: 400 1.231em 'HKGroteskRegular', sans-serif;
	text-transform: none;
	letter-spacing: 0;
}

/* Breakpoints are driven by where the design looks good */
@media (min-width: 50em) {

	body {
		margin: 2.5em auto;
	}

	body > h2,
	body > div > h3 {
		margin-top: 2em;
	}

	.criteria,
	.reference {
		position: relative;
		float: left;
		width: 50%;
	}

	.criteria {
		padding-right: 2em;
	}

	.reference {
		padding-left: 2em;
	}

	.criteria:before,
	.reference:before {
		position: absolute;
		top: 0;
		display: block;
		width: 2px;
		height: 100%;
		background: #000;
		content: "";
	}

	.criteria:before {
		right: -1px;
	}

	.reference:before {
		left: -1px;
	}

	/* Clear the criteria and reference floats w/o extra markup */
	.reference + div:before,
	.reference + div::before {
		display: block;
		width: 100%;
		height: 1px;
		content: "";
		clear: both;
	}

}

@media (min-width: 75em) {

	/* @TODO: Test viewport-based type on a giant monitor to see where this breaks down */
	body {
		font-size: 112.5%;
		font-size: 1.325vw;
	}

}
